.container{
    width: 80%;
    margin: auto;
    padding-top: 40px;
}
table{
    width: 100%;
    margin: auto;
}
table, th, td{
    border-top: 1px solid;
    border-collapse: collapse;
    font-size: 20px;
    border-color: rgb(227, 242, 250);
    
}
th,td{
    padding: 10px 25px;
    
}
th{
    background-color: dodgerblue;
    color: white;
}
caption{
    width:30% ;
    background-color: orange;
    margin: 20px auto;
    color: white;
    padding: 10px 0px;
    border-radius: 10px;
    font-size: 18px;
    font-weight: bold;
}